*.sql
!data/.gitkeep

/wp/*
/wp/wp-content/*

# Keep
!/wp/.gitignore
!/wp/composer.json
!/wp/phpcs.php
!/wp/wp-config.php
!/wp/phpcs.xml
!/wp/wpscan.yml
!/wp/wp-content/
!/wp/wp-content/mu-plugins
!/wp/wp-content/mu-plugins/*

.DS_Store
temp/