#######################################
# list out your projects, prefixing with PROJ_<number>
# You might not use all of this, so you can get rid of the unused
PROJ_1="production"
PROJ_2="stage"
PROJ_3="test"
PROJ_4="dev"
PROJ_5="demo"